@font-face{
	font-family:mifuente;
	src:url("3Dumb.ttf");
}
body{
	background-color: #AAB1B0;
	color: black;
	font-family: mifuente;
}
#izq{
	float: left;
	width: 20%;
}
#der{
	float: right;
	width: 20%;
}
#centro{
	text-align: center;
}
#pie{
	text-align: center;
}
#fecha{
	text-align: right;
}